{% extends 'base.html.twig' %}

{% block title %}
    MovieMinder
{% endblock %}


{% block body %}

    <main class="flex flex-col flex-grow">

        {% block header %}
            {% include 'components/header.html.twig' %}
        {% endblock %}


        <div class="flex flex-col justify-center text-center w-full h-auto mt-[10%] gap-6">
            <h1 class="text-orange-500 text-5xl font-extrabold">NEVER FORGET WHAT YOU'VE SEEN</h1>
            <h2 class="text-white text-4xl">Remember every episode, every movie and stay on top of your viewing
                habits</h2>
            <a href="{{ path('app_register') }}">
                <h2 class="text-white text-2xl">REGISTER NOW</h2>
            </a>
            <div class="flex px-8 py-2 border-2  overflow-hidden max-w-4xl mx-auto font-[sans-serif] bg-white rounded-full hover:border-orange-500">
                <!-- Input Field -->
                <input type="email" placeholder="Find a movie or serie..."
                       class="rounded-full outline-none bg-transparent text-gray-600 text-2xl w-full h-12 pl-8 pr-12"/>

                <!-- Icon -->
                <img src="{{ asset('img/loop.svg') }}" width="60px"
                     class="fill-gray-600 ml-4 rotate-90">
            </div>


        </div>

        {{ form_start(form, {'action': path('app_movie_search')}) }}
        {{ form_row(form.title) }}
        <button type="submit">Search</button>
        {{ form_end(form) }}
    </main>


    {% block footer %}
        {% include 'components/footer.html.twig' %}
    {% endblock %}

{% endblock %}
