{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block body %}

	{% block header %}
		{% include 'components/header.html.twig' %}
	{% endblock %}
	<div class="flex flex-wrap items-center justify-center text-neutral-200 mt-[4%] mb-[4%]">
		<div class="min-w-[52%]">
			<div class="block rounded-3xl bg-neutral-800 shadow-lg">
				<div class="g-0 lg:flex lg:flex-wrap">
					<div class="px-4 md:px-0 lg:w-6/12">
						<div class="md:mx-4 md:pl-7 pr-7 pt-10">
							<div class="text-center">
								<img class="mx-auto w-2/12 mb-[4%]" src="{{ asset('img/logoNoText.svg') }}" alt="logo"/>
							</div>
							<form method="post" class="w-5/5">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}
								<p class="text-3xl font-bold mt-4 mb-4 text-white">Login</p>
								<div class="relative mb-4" data-twe-input-wrapper-init>
									<label for="inputEmail" class="block text-m text-white">Email</label>
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=" text-gray-600 peer block min-h-[auto] w-full rounded border-0 bg-white px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary" autocomplete="email" required autofocus>
								</div>
								<div class="relative mb-4" data-twe-input-wrapper-init>
									<label for="inputPassword" class="block text-m  text-white">Password</label>
									<input type="password" name="password" id="inputPassword" class="text-gray-600 peer block min-h-[auto] w-full rounded border-0 bg-white px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary" autocomplete="current-password" required>
								</div>

								<h4 class="text-right">Forgot your password?</h4>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="mb-2 pb-1 pt-1 text-center mt-10">
									<button class=" bg-gradient-to-r from-[#fc5400] to-[#f18100] rounded-3xl text-xl mb-3 inline-block w-full font-bold px-6 pb-2 pt-2.5 uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:text-gray-200 hover:bg-gradient-to-t from-orange-500 via-orange-600 to-orange-700"
											type="submit">
										LOGIN
									</button>
								</div>
							</form>
							<div class="text-center">
								<p class="pb-2">or</p>
								<p class="pb-2">Sign in with</p>
								<img class="mx-auto mt-4 h-22 mb-10" src="{{ asset('img/loginIcons.svg') }}" alt="logo"/>
							</div>

							<div class="flex flex-row items-center pt-4">
								<p>Don't have an account?</p>
								<a href="{{ path('app_register') }}">
									<button type="button" class="text-orange-600 rounded-3xl inline-block px-1 pb-[6px] pt-2 text-xl font-bold active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950 pl-2">
										Sign up
									</button>
								</a>
							</div>
						</div>
					</div>
					<div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none">
						<img src="{{ asset('img/loginPic.svg') }}" class="h-[700px] w-full object-cover rounded-3xl" alt="MovieMinder Logo">
					</div>
				</div>
			</div>
		</div>
	</div>





	{% block footer %}
		{% include 'components/footer.html.twig' %}
	{% endblock %}

{% endblock %}
