{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% block header %}
        {% include 'components/headerUser.html.twig' %}
    {% endblock %}

    <div class="flex flex-col pt-10 pl-16 pr-16 pb-16 gap-20">
{#        <div class="flex items-center lg:w-6/12 mx-auto bg-white rounded-full border-2 border-gray-300 hover:border-orange-500 px-4">#}
{#            <div class="flex w-full items-center">#}
{#                <form action="/search" method="GET" class="flex flex-row w-full">#}
{#                    <input type="text" name="search" placeholder="Find a movie or series and add it to your list..."#}
{#                           class="w-full bg-transparent text-xl text-gray-700 placeholder-gray-400 focus:outline-none rounded-full py-2 pl-4 pr-12">#}
{#                    <button type="submit" class="ml-2 bg-transparent border-none cursor-pointer">#}
{#                        <img src="{{ asset('img/loop.svg') }}" alt="Search" width="40px" class="fill-gray-600">#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

        <h2 class="font-bold text-3xl text-gray-300">SEARCH RESULTS for <span class="text-white">"{{ searchTerm }}"</span></h2>

        <main class="flex flex-col items-center flex-grow">
            <div class="flex flex-wrap justify-center flex-grow w-[100%] gap-6 ml-16">
                {% for movie in movies %}
                    <div class="group relative flex flex-col text-white w-[200px] h-full gap-2.5">
                        <div class="absolute group-hover:flex justify-center items-center self-end mr-1.5 w-[30px] h-[40px]">
                            <a href="{{ path('add_movie_user', {'id': movie.id}) }}">
                                <img class="aspect-square w-[25px] hidden group-hover:block" src="/img/remove-mark.svg"
                                     alt="add to list">
                            </a>
                        </div>
                        <img data-movie-id="{{ movie.id }}" class="openPop rounded-md w-[200px] h-[300px] group-hover:outline group-hover:outline-offset-0 group-hover:outline-orange-500 bg-cover"
                             src="{{ movie.poster }}" alt="{{ movie.title }}">
                        <span class="text-center font-bold group-hover:text-orange-500"> {{ movie.title }} </span>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>

    {% for movie in movies %}
        <div id="popup-{{ movie.id }}" class="hidden -mt-[42vh] flex flex-wrap items-center justify-center text-neutral-800 mb-[4%] z-10 popup">
            <div class="max-w-[50%] w-full">
                <div class="block rounded-3xl shadow-lg bg-neutral-800">
                    <div class="g-0 lg:flex lg:flex-wrap">
                        <div class="px-4 md:px-0 lg:w-7/12 lg:order-last">
                            <div class="md:mx-6 md:p-8">
                                <div class="ml-[95%] mt-2">
                                    <button id="closePop-{{ movie.id }}" class="closePop">
                                        <img class="w-6 mb-[10%]" src="{{ asset('img/x.svg') }}" alt="close"/>
                                    </button>
                                </div>
                                <div>
                                    <p class="text-4xl font-bold text-left mt-6 mb-8 text-gray-200">{{ movie.title }}</p>
                                    <div class="flex flex-row text-white text-2xl gap-12 mb-4">
                                        <h3><b>{{ movie.year }} </b></h3>
                                        <h3><b>{{ movie.duration }} min </b></h3>
                                    </div>
                                    <div>
                                        <img src="{{ asset('img/stars.svg') }}" class="w-3/4 rounded-3xl mb-6" alt="stars">
                                    </div>

                                    <div class="relative mb-4">
                                        <p class="text-white text-xl mb-8">{{ movie.synopsis }}</p>
                                        <div class="mb-2 pb-1 pt-1 text-center">
                                            <a href="{{ path('app_register') }}">
                                                <button
                                                        class="rounded-3xl text-lg mb-3 inline-block w-3/4 font-bold px-6 pb-2 pt-2.5 uppercase leading-normal text-white shadow-lg transition duration-150 ease-in-out hover:shadow-xl focus:shadow-xl focus:outline-none focus:ring-0 active:shadow-lg"
                                                        type="submit"
                                                        style="background: linear-gradient(to right, #ee7724, #d8363a);">
                                                    WATCH TRAILER
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center rounded-b-lg lg:w-5/12 lg:rounded-e-lg lg:rounded-bl-none">
                            <img src="{{ movie.poster }}" class="h-full w-full object-cover rounded-3xl" alt="movie poster">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% block footer %}
        {% include 'components/footer.html.twig' %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Open popup logic
            const openPopupBtns = document.querySelectorAll('.openPop');
            openPopupBtns.forEach(button => {
                button.addEventListener('click', function() {
                    const movieId = button.getAttribute('data-movie-id');
                    const popup = document.getElementById('popup-' + movieId);
                    popup.classList.remove('hidden');  // Show the popup
                    popup.classList.add('flex');       // Apply flexbox
                });
            });

            // Close popup logic
            const closePopupBtns = document.querySelectorAll('.closePop');
            closePopupBtns.forEach(button => {
                button.addEventListener('click', function() {
                    const movieId = button.id.split('-')[1];
                    const popup = document.getElementById('popup-' + movieId);
                    popup.classList.add('hidden');  // Hide the popup
                    popup.classList.remove('flex'); // Remove flexbox layout
                });
            });
        });
    </script>
{% endblock %}

