{% extends 'base.html.twig' %}

{% block title %}All movies
{% endblock %}

{% block body %}

	{% block header %}
		{% include 'components/headerUser.html.twig' %}
	{% endblock %}

	<main class="flex flex-col items-center flex-grow">
		<div class="flex flex-wrap justify-start gap-12 pt-16 pb-10 pl-20 pr-20">
			{% for movie in movies %}
				<div class="group relative flex flex-col text-white w-[200px] h-full gap-2.5">
					<div class="absolute group-hover:flex justify-center items-center self-end mr-1.5 w-[30px] h-[40px]">
						<img class="aspect-square w-[35px] mt-[5px] group-hover:hidden" src="/img/check-mark.svg" alt="add to list">
						<a href="{{ path('add_movie_user', {'id': movie.id}) }}">
							<img class="aspect-square w-[25px] hidden group-hover:block" src="/img/remove-mark.svg" alt="add to list">
						</a>
					</div>
					<img data-movie-id="{{ movie.id }}" class="openPop rounded-md w-[200px] h-[300px] group-hover:outline group-hover:outline-offset-0 group-hover:outline-orange-500" src="{{ movie.poster }}" alt="{{ movie.title }} ">
					<span class="text-center font-bold group-hover:text-orange-500">
                {{ movie.title }}
            </span>
				</div>
			{% endfor %}
		</div>



	</main>
	{% include 'components/movieCard.html.twig' %}
	{% block footer %}
		{% include 'components/footer.html.twig' %}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// Open popup logic
			const openPopupBtns = document.querySelectorAll('.openPop');
			openPopupBtns.forEach(button => {
				button.addEventListener('click', function() {
					const movieId = button.getAttribute('data-movie-id');
					const popup = document.getElementById('popup-' + movieId);
					popup.classList.remove('hidden');  // Show the popup
					popup.classList.add('flex');       // Apply flexbox
				});
			});

			// Close popup logic
			const closePopupBtns = document.querySelectorAll('.closePop');
			closePopupBtns.forEach(button => {
				button.addEventListener('click', function() {
					const movieId = button.id.split('-')[1];
					const popup = document.getElementById('popup-' + movieId);
					popup.classList.add('hidden');  // Hide the popup
					popup.classList.remove('flex'); // Remove flexbox layout
				});
			});
		});
	</script>


{% endblock %}
