{% if app.request.attributes.get('_route') == 'user_dashboard' %}

    {% if watchedMovies is empty %}
        <div class="flex flex-col justify-center items-center gap-6">
            <h2 class="text-white text-2xl font-bold text-center">Your list is empty</h2>
            <a href="{{ path('app_movie_index') }}" class="flex flew row items-center text-white font-extrabold rounded-2xl text-2xl px-4 py-2 text-center gap-4 border-2 border-orange-500">
                <h3>ADD MOVIES</h3>
                <img class="aspect-square w-[30px] group-hover:hidden" src="/img/addIcon.png" alt="add to list">
            </a>
        </div>
    {% else %}
        <div class="flex flex-wrap justify-left gap-10">
            {% for movie in movies %}
                {% if movie.id in watchedMovies %}
                    <div class="group relative flex flex-col text-white w-[200px] h-full gap-2.5">
                        <div class="absolute group-hover:flex justify-center items-center self-start mr-1.5 w-[30px] h-[40px]">
                            <a href="{{ path('add_movie_user', {'id': movie.id}) }}">
                                <img class="aspect-square w-[25px] hidden group-hover:block" src="/img/remove-mark.svg" alt="add to list">
                            </a>
                        </div>
                        <div class="absolute group-hover:flex justify-center items-center self-end mr-1.5 w-[30px] h-[40px]">
                            <img class="aspect-square w-[30px] mt-[5px] group-hover:hidden" src="/img/watched-mark.svg" alt="add to list">
                            <a href="{{ path('app_user_add_watched', {'movieId': movie.id}) }}">
                                <img class="aspect-square w-[30px] hidden group-hover:block" src="/img/not-watched-mark.svg" alt="add to list">
                            </a>
                        </div>

                        <img data-movie-id="{{ movie.id }}"
                             class="openPop rounded-md w-[200px] h-[300px] group-hover:outline group-hover:outline-offset-0 group-hover:outline-orange-500"
                             src="{{ movie.poster }}" alt="{{ movie.title }}">
                        <span class="text-center font-bold group-hover:text-orange-500">{{ movie.title }}</span>
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}

{% elseif app.request.attributes.get('_route') == 'show_list' %}
    {% if movies is empty %}
        <div class="flex flex-col justify-center items-center gap-6">
            <h2 class="text-white text-2xl font-bold text-center">Your list is empty</h2>
            <a href="{{ path('app_movie_index') }}" class="flex flew row items-center text-white font-extrabold rounded-2xl text-2xl px-4 py-2 text-center gap-4 border-2 border-orange-500">
            <h3>ADD MOVIES</h3>
            <img class="aspect-square w-[30px] group-hover:hidden" src="/img/addIcon.png" alt="add to list">
            </a>
    {% else %}
        <div class="flex flex-wrap justify-left gap-8">
            {% for movie in movies %}
                {% if movie.id not in watchedMovies %}
                    <div class="group relative flex flex-col text-white w-[200px] h-full gap-2.5">
                        <div class="absolute group-hover:flex justify-center items-center self-start mr-1.5 w-[30px] h-[40px]">
                            <a href="{{ path('add_movie_user', {'id': movie.id}) }}">
                                <img class="aspect-square w-[25px] hidden group-hover:block" src="/img/remove-mark.svg" alt="add to list">
                            </a>
                        </div>
                        <div class="absolute hidden group-hover:flex justify-center items-center self-end mr-1.5 w-[30px] h-[40px]">
                            <a href="{{ path('app_user_add_watched', {'movieId': movie.id}) }}">
                                <img class="aspect-square w-[30px]" src="/img/not-watched-mark.svg" alt="add to list">
                            </a>
                        </div>
                    <img data-movie-id="{{ movie.id }}"
                     class="openPop rounded-md w-[200px] h-[300px] group-hover:outline group-hover:outline-offset-0 group-hover:outline-orange-500"
                     src="{{ movie.poster }}" alt="{{ movie.title }} ">
                    <span class="text-center font-bold group-hover:text-orange-500"> {{ movie.title }} </span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}